* {
    box-sizing: border-box
}

:root {
    --color-accent: #0bff22
}

body {
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    color: #fff
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply
}

.bg-1 {
    background-image: url(1.webp);
    background-color: #0000002E
}

h1 {
    margin-top: 0;
    font-size: 36px
}

.green {
    color: var(--color-accent)
}

.container {
    height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.form-wrap {
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 8px;
    background: #28282866;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    z-index: 1
}

.form-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    box-shadow: inset 0 0 2000px rgb(34, 34, 34);
    filter: blur(10px);
    z-index: -1
}

.form-field {
    display: inline-block;
    padding: 13px;
    margin-bottom: 18px;
    width: 100%;
    font-size: 18px;
    background: #eee;
    color: #111;
    text-align: center;
    border: none
}

.button {
    cursor: pointer;
    transition: .2s ease-in-out;
}

.button:hover {
    background: var(--color-accent);
}